* {outline:none}

.box {
    width: 100%;
}

.btn-enable {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #979797;
    color:rgb(97, 97, 97);
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    padding: 0px;
    font-weight: bold;
    overflow: hidden;
    transition: background 1s , transform 0.3s;
  }
  
  .btn-enable:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  :root {
    --base-font-size: 1px;
    --font-size-x: 12;
    --base-caption-width: 1em;
    --caption-width-x: 6;
    --caption-margin: 1px;
    --margin-x: 5
}

p {
    margin-top: 3px;
    margin-bottom: 3px
}

div.category {
    position: relative;

    width: auto;
    height: auto;
    margin-top: calc(0.5em + var(--caption-margin) * var(--margin-x));
    padding: .5em .25em;
    border: 2px solid #ccc;

    border-top: none;
    box-sizing: border-box;
    border-radius: 5px;

    background:
        linear-gradient(to right,
            #ccc 10px, transparent 10px,
            transparent calc(10px + var(--base-caption-width) * var(--caption-width-x)), #ccc calc(10px + var(--base-caption-width) * var(--caption-width-x))) 0 0 / 100% 2px;

    background-repeat: no-repeat;
}

div.category:before {
    content: attr(data-caption);
    position: absolute;
    top: 0;
    left: 10px;

    width: calc(var(--base-caption-width) * var(--caption-width-x));
    height: auto;

    font-size: calc(var(--base-font-size) * var(--font-size-x));
    font-weight: bold;

    text-align: center;
    transform: translateY(-50%);
}